# Specific folders
Workspace/Preliminary work/Growth/Motivation/old
Workspace/Preliminary work/LoRA/old
Workspace/Preliminary work/Growth/TINY/TINY_workspace

Workspace/Core work/Methods/GroHess/*
!Workspace/Core work/Methods/GroHess/README.md

# Latex files
*.aux
*.bbls
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.bbl

# Notebook checkpoints
*-checkpoint.ipynb

# Python cache
*.pyc

# Model files
*.pth

# Data files
*MNIST/
*FashionMNIST/
*cifar-10-batches-py/
*cifar-100-python/