# Specific folders
Workspace/Growth/Motivation/old
Workspace/Growth/TINY/TINY_workspace

# Latex files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz

# Notebook checkpoints
*-checkpoint.ipynb

# Python cache
*.pyc

# Model files
*.pth

# Data files
*MNIST/
*FashionMNIST/
*cifar-10-batches-py/
*cifar-100-python/